.screen .refund-order{
    position: absolute;
    right: 0%;
    top: 65px;
    bottom: 0px;
    left: 0%;
    width: 100%;
}
.pos .line-refund {
    color: firebrick;
}

.pos .clientlist-screen .refund-order .subwindow{
    display: block;
}
.pos .clientlist-screen .refund-order .subwindow-container{
    display: block;
    height: 600px;
}
.pos .clientlist-screen .refund-order .subwindow.collapsed,
.pos .clientlist-screen .refund-order .subwindow-container.collapsed{
    height: auto;
}

/*.pos .clientlist-screen .refund-order .subwindow.collapsed,
.pos .clientlist-screen .refund-order .subwindow-container.collapsed{
    height: auto;
}*/
