<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">POS Refund Orders</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="icon.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                <td style="padding-left: 15px;">
                    <div class="oe_author">
                        <p>TL Technology</p>
                        <p>Website: <a href="http://bruce-nguyen.com">http://bruce-nguyen.com</a></p>
                        <p>Contact: <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=thanhchatvn@gmail.com" target="_blank">thanhchatvn@gmail.com</a></p>
                    </div>
                </td>
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
	<div class="oe_row">
		<div class="oe_span12">
			<h3 class="oe_slogan"><font color='#616161'>Basic features</font></h3>
		</div>
		<div class='oe_span12'>
			<ul style='margin-left:5%'>
                <li>Sometime we're have many customer come back and return order</li>
				<li>This module support for return Orders (Products) on screen POS Odoo</li>
			</ul>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span9">
            <img class="oe_picture oe_screenshot" src="1.png">
        </div>
         <div class="oe_span3">
            <li>Config allow refund order</li>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span9">
            <img class="oe_picture oe_screenshot" src="2.png">
        </div>
         <div class="oe_span3">
            <li>Go to pos screen and click to Refund order</li>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span9">
            <img class="oe_picture oe_screenshot" src="3.png">
        </div>
         <div class="oe_span3">
            <li>Screen of Order need refund</li>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span9">
            <img class="oe_picture oe_screenshot" src="4.png">
        </div>
         <div class="oe_span3">
            <li>Bill of refund order</li>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan">Demo</h3>
        </div>
        <div class="oe_span12 text-center">
            <a href="http://bruce-nguyen.com" target="_blank" title="Bruce Demo" class="oe_button">Click to Here</a>
        </div>
    </div>
    <br/>
    <br/>
</section>
