.hr  {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
}
.pos .pos-sale-ticket {
    font-size: 12px;
}

.pos .order{
	max-width: 100%;
}

.pos .order .summary{
	cursor: pointer;
}

.pos .order .summary.selected{
	background: rgba(140,143,183,0.2);
	-webkit-transition: background 250ms ease-in-out;
	-moz-transition: background 250ms ease-in-out;
	transition: background 250ms ease-in-out;
	cursor: default;
}

.pos .modal-dialog .popup{
    position: absolute;
    left:50%;
    top:50%;
    width:220px;
    height: auto;
    margin-left: -250px;
    margin-top: -200px;
    padding:10px;
    padding-top:20px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    background-color: #F0EEEE;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
    z-index:1200;
}
.pos .popup .button {
    float: right;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 3px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #cacaca;
    background: #e2e2e2;
}
.pos .popup .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #E0DDDD;
}

.pos .pos-sale-ticket {
    text-align: left;
    width: 300px;
    background-color: white;
    margin: 0px 20px 20px 20px;
    padding: 0px 15px 15px 15px;
    font-family: inherit !important;
    font-size: 14px;
    padding-bottom: 30px;
    display: inline-block;
    border: solid 1px rgb(220,220,220);
    border-radius: 3px;
    overflow: hidden;
}

.pos .order .orderline.selected {
    background: rgba(119, 200, 133, 0.41);
}
.pos .order .orderline .product-name {
    width: 72%;
}


.pos .order .orderline .info-list em {
    color: #2431B6;
    font-weight: bold;
    font-style: normal;
}

.pos .order .orderline .price {
    color: #2431B6;
}

.pos .order .summary .value {
    color:  #2431B6;
}
 .pos {
     font-family: 'Roboto' !important;
 }

 .pos .product .product-name {
     font-size: 15px;
     font-weight: bold;
 }

 .pos .pos-rightheader .selected-button-retail{
         float:left;
        color:#DDD;
    /*    border-right: 1px solid #373737;*/
        height:100%;
        overflow:hidden;
        text-overflow: ellipsis;
        text-align:center;
        padding-top: 7px;
        padding-left: 6px;
        vertical-align: text-bottom;
        color: white;
        background-color: rgb(65, 224, 25);
        cursor: pointer;
}
  .pos .pos-rightheader .selected-button-whole{
         float:left;
        color:#DDD;
    /*    border-right: 1px solid #373737;*/
        height:100%;
        overflow:hidden;
        text-overflow: ellipsis;
        text-align:center;
        padding-top: 7px;
        padding-left: 6px;
        vertical-align: text-bottom;
        color: white;
        background-color: rgb(65, 224, 25);
        cursor: pointer;
}
.pos .pos-rightheader .extra-label-retail{
    float:left;
    color:#DDD;
/*    border-right: 1px solid #373737;*/
    height:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    text-align:center;
    padding-top: 7px;
    padding-left: 6px;
    vertical-align: text-bottom;
    color: white;
    background-color: rgb(224, 25, 25);
    cursor: pointer;
}

.pos .pos-rightheader .extra-label-retail .extra-text{
    font-size:15px;
    font-style:italic;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.pos .pos-rightheader .extra-label-whole{
    float:left;
    color:#DDD;
/*    border-right: 1px solid #373737;*/
    height:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    text-align:center;
    padding-top: 7px;
    padding-left: 6px;
    vertical-align: text-bottom;
    color: white;
    background-color: rgb(224, 25, 25);
    cursor: pointer;
}

.pos .pos-rightheader .extra-label-whole .extra-text{
    font-size:15px;
    font-style:italic;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.pos .uom {
    padding: 8px 4px 8px 8px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 205px;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 18px;
}
.pos .uom button {
    height: 39px;
    display: block;
    width: 100%;
    margin: 0px -6px 4px -2px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    font-size: 14px;
}
.pos .product .price-tag-new {
       position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #990000;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 17px;
}
.btn-uom  {
    font-size: 14px !important;
    width: 205px;
    height: 39px;
    color: #555555;
}