/*  ********* The leftpane contains the order, numpad and paypad ********* */
.pos .leftpane {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    position:absolute;
    left:0;
    width:670px;
    top:0px;
    bottom:0;
    border-right: solid 1px #CECBCB;
    border-right: solid 3px #787878;
    background: #e2e2e2;
}

/*  ********* The right pane contains the screens and headers ********* */
.pos .rightpane {
    position: absolute;
    top: 0;
    bottom:0;
    left: 670px;
    right: 0;
    vertical-align: top;
    -webkit-transform: translate3d(0,0,0);
}

/*  ********* The actionpad (payment, set customer) ********* */
.pos .actionpad {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 16px;
    margin-top: 8px;
    margin-right: 0;
    text-align: center;
    vertical-align: top;
    width: 270px;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #bfbfbf;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/*  ********* The Numpad ********* */
.pos .numpad {
    display: inline-block;
    float: right;
    text-align: center;
    width: 365px;
    margin: 16px;
    margin-top: 8px;
    margin-left: 0px;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-color: #bfbfbf;
    border-top-right-radius: 4px;
}
.pos .numpad button {
    float: left;
    height: 54px;
    width: 91px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-radius: 0;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
    transition: all 150ms linear;
}

/*  ********* The PopupWidgets  ********* */
.pos .modal-dialog .popup{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width:683px;
    height:390px;
    text-align:right;
    font-size:20px;
    font-weight:bold;
    background-color: #F0EEEE;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
    z-index:1200;
    font-family: 'Lato';
    font-family: Lato;
}

/*  the search box */
.pos .searchbox input {
    width: 250px;
    border: 1px solid #cecbcb;
    padding: 10px 20px;
    padding-left: 38px;
    margin: 6px;
    /*background: url("../img/search.png") no-repeat 15px;*/
    background-color: white;
    border-radius: 20px;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    font-size: 13px;
}

/*  The Client List Screen */
.pos .clientlist-screen .searchbox{
    right: auto;
    margin-left: -90px;
    margin-top:8px;
    left: 50%;
}
.pos .clientlist-screen .searchbox input{
    width: 300px;
}
.pos .clientlist-screen .button.new-customer {
    left: 50%;
    margin-left: 400px;
}

/* firefox seems to ignore the relative positionning of the subwindow-container
 * putting this inside subwindow-container fixes it.
 */ 
.pos .clientlist-screen .window,
.pos .clientlist-screen .full-content .subwindow{
    display: inline-table;
}
.pos .clientlist-screen .client-detail > .label{
    font-weight: bold;
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 8px;
    color: #000;
}

/*  ********* The OrderWidget  ********* */
.pos .order{
    background: white;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 16px;
    text-align: left;
    max-width: 790px;
    -webkit-transform: translate3d(0,0,0);
}
.pos .order .orderline-table{
    width: 660px;
}
.pos .order .orderline-table > td:first-child,th:first-child{
    padding-left: 5px;
}
.pos .order .orderline-table .orderline > td:first-child{
    padding-left: 5px;
}
.pos .order .summary .line .subentry{
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    padding-left: 13px;
}
.pos .order .summary .line .subentry .value{
    float: right;
}
.fa{
    width: 0px;
    text-align: center;
}
/*  ********* The product list  ********* */
.pos .product-list-container .product-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .product-list-container .product-list th,
.pos .product-list-container .product-list td {
    padding: 0px 8px;
}
.pos .product-list-container .product-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.pos .product-list-container .product-list thead > tr,
.pos .product-list-container .product-list tbody > tr:nth-child(even) {
    background: rgb(247,247,247);
}

/* b) The payment screen */
.pos .payment-numpad .numpad button {
    width: 73px;
    height: 73px;
}
.pos .paymentlines .pos_label > * {
    font-size: 16px;
    padding: 8px;
    color: #000;
    line-height: 1;
    font-weight: 700;    
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.pos .pos-sale-ticket {
    text-align: left;
    width: 450px;
    color: black;
    background-color: white;
	/*margin: 20px;*/
    padding-left: 1px;
    padding-right: 1px;
    font-size: 11px;
    padding-bottom:20px;
    display: inline-block;
    font-family: "Inconsolata";
    border: solid 1px rgb(220,220,220);
    border-radius: 3px;
    overflow: hidden;
}